{% trans_default_domain 'admin.profile.type' %}

<div class="card w-100 border-light">
	
	<div class="card-header border-light bg-body">
		<div class="card-title">
			<h4>
				{{ 'admin.form.main.label'|trans }}
			</h4>
		</div>
	</div>
	
	<div class="card-body pb-0">
		
		{# Сортировка #}
		{{ form_row(form.sort, {  label : 'admin.form.main.sort'|trans }) }}
	</div>
</div>